@import "mixin";

.member-text-heading {
    @include section-heading;
}

.member-container {
    @media (min-width: 1920px) {
        gap: 60px;
    }
}

.member-card-container {
    gap: 15px;

    @media (min-width: 1024px) {
        gap: 20px;
    }

    @media (min-width: 1440px) {
        gap: 25px;
    }

    @media (min-width: 1600px) {
        gap: 32px;
    }
}

.member-card {
    cursor: pointer;
    transition: all 1s ease-in-out;
    gap: 20px;
    padding: 20px 10px;

    @media (min-width: 768px) {
        width: 40%;
        padding: 20px;
    }
    @media (min-width: 1440px) {
        padding: 25px 35px;
    }

    @media (min-width: 1920px) {
        padding: 46px 37px;
    }

    &:hover {
        box-shadow: 0px 34px 50px -17px #021605;

        color: #6F77F1;
    }

    a>img:hover {
        fill: $blue-violet-color;
    }


}

.member-card-image {
    width: 100px;

    @media (min-width: 1024px) {
        width: 120px;
    }

    @media (min-width: 1440px) {
        width: 131px;
    }

    img {
        width: inherit;
    }
}

.member-card-body {
    padding: 0px;

    p {
        font-size: 17px;
    }
    
}
.member-card-body img:hover {
    transform: scale(1.2);
    // filter: var(#6F77F1);

    // filter: invert(20%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    fill: blue;


}

.member-text-description {
    @media (min-width: 768px) {
        width: 80%;
    }

    @media (min-width: 1440px) {
        width: 61%;
    }
}