@import "mixin";

.member-text-heading {
    @include section-heading;
}

.member-container {
    @media (min-width: 1920px) {
        gap: 60px;
    }
}

.member-card-container {
    gap: 15px;

    @media (min-width: 1024px) {
        gap: 20px;
    }

    @media (min-width: 1440px) {
        gap: 25px;
    }

    @media (min-width: 1600px) {
        gap: 32px;
    }
}

.member-card {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 20px;
    padding: 20px 10px;

    @media (min-width: 768px) {
        width: 40%;
        padding: 20px;
    }
    @media (min-width: 1440px) {
        padding: 25px 35px;
    }

    @media (min-width: 1920px) {
        padding:41px 51px;
    }

    &:hover {
        box-shadow: 0px 24px 50px -40px #021605;

        color: #6F77F1;
    }

    a>img:hover {
        fill: $blue-violet-color;
    }
    .card-link{
        text-decoration: none;
    }


}

.member-card-image {
    width: 100px;

    @media (min-width: 1024px) {
        width: 120px;
    }

    @media (min-width: 1440px) {
        width: 131px;
    }

    img {
        width: inherit;
    }
}

.member-card-body {
    padding: 0px;

    p {
        font-size: 17px;
    }
    
}
.member-card-body svg {
    fill:#828282;
}
.member-card-body svg:hover {
    
    transform: scale(1.2);
    fill: #6F77F1; 
    
}
.member-text-description {
    @media (min-width: 768px) {
        width: 80%;
    }

    @media (min-width: 1440px) {
        width: 61%;
    }
}