.custom-navbar {
    color: $heading-color!important;
  
    @media (min-width: 768px) {
      font-size: 22px !important;
    }
  
    @media (min-width: 1600px) {
      font-size: 24px !important;
    }
  
    @media (min-width: 1920px) {
      margin: 56px 128px !important;
      padding: 0rem;
    }
  }
  .nav-logo:hover {
    @include hover-scale;
  }
  .custom-nav-container {
    @media (min-width: 1920px) {
      padding: 0rem;
    }
  }
  
  .nav-ul {
    padding-right: 30px;
    gap: 10px;
  
    @media (min-width: 1024px) {
      gap: 20px;
      font-size: 20px;
    }
  
    @media (min-width: 1440px) {
      padding-right: 140px;
      gap: 30px;
    }
  
    @media (min-width: 1600px) {
      padding-right: 140px;
      gap: 50px;
      font-size: 24px;
    }
  
    @media (min-width: 1920px) {
      padding-right: 153px;
      gap: 62px;
    }
  }
  
  .nav-form-container {
  
    margin-right: 15px;
  
    @media (min-width: 1024px) {
      margin: 0px;
    }
  
    @media (min-width: 1920px) {
      gap: 15px;
    }
  }
  
  .nav-search-button {
    width: 50px;
  
    img {
      width: inherit;
    }
  
    @media (min-width: 768px) {
      width: 60px;
    }
  
    @media (min-width: 1024px) {
      width: 65px;
    }
  
    @media (min-width: 1440px) {
      width: 75px;
    }
  
    @media (min-width: 1920px) {
      width: 83px;
    }
    &:hover {
      @include hover-scale();

      transition: all 0.3s ease-in-out;
    }
  }
  
  .nav-talk-button {
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
  
    @media (min-width: 768px) {
      font-size: 20px !important;
      padding: 10px 20px;
    }
  
    @media (min-width: 1024px) {
      padding: 12px 20px;
    }
  
    @media (min-width: 1440px) {
      padding: 15px 35px;
    }
  
    @media (min-width: 1600px) {
      font-size: 24px !important;
    }
  
    @media (min-width: 1920px) {
      font-size: 24px !important;
      padding: 18.5px 48.1px;
    }
  }
  
  .custom-nav-link {
    padding: 0 !important;
  }
  
  .custom-nav-link:hover::before {
    @media (min-width: 1024px) {
      content: "";
      background-color: #6f77f1;
      position: absolute;
      width: 73%;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .custom-nav-link:hover::after {
    @media (min-width: 1024px) {
      content: "";
      transition: all 0.3s ease-in-out;
      background-color: #6f77f1;
      position: absolute;
      width: 20%;
      height: 2px;
      bottom: 0;
      right: 0;
    }
  }